
$color-gray-one: #666666;
$color-gray-two: #b3b3b3;
$color-gray-three: #D8D8D8;
$color-blue-one: #0079FF;


@import "./mixins.scss";
@import "./logo.scss";
@import "./post.scss";
@import "./home.scss";
@import "./searchbar.scss";
@import "./recentPosts.scss";
@import "./results.scss";



html {
    font-family: 'Lato', sans-serif
}

body {
    font-family: 'Lato', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    &:hover {
        transition: 0.5s;
        text-decoration: underline;
    }
}

.no-content {
    color: $color-gray-one;
    font-size: 14px;
    line-height: 17px;
}