.recent_posts {

    display: grid;
    align-content: center;
    justify-items: center;


    .recent_posts_wrapper {
        
        display: grid;
        grid-row-gap: 21px;
        width: 100%;


        .recent_posts_heading {
            color: $color-blue-one;
            font-size: 14px;
        }

        .recent_posts_posts {
            display: grid;
            grid-gap: 42px;
            @media screen and (min-width: 700px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    

    }
    
}